@page "/addUser"

<h3>Add new customer</h3>

<p> Customer can be added in the system by self  registeration </p>
<p>
    Do you really want to manually add a new Customer?  <NavLink class="nav-link" href="/">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Still Yes, Click here
    </NavLink>
    <NavLink class="nav-link" href="/adminHome">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> No, back to Home
    </NavLink>
</p>


@code {

}
