@page "/adminHome"

@inject NavigationManager navigationManager

<div class="container mt-5 text-center">
    <!-- header section -->
    <h1 class="display-4 mb-4">Home</h1>
    <!-- button section -->
    <div class="d-grid gap-3 col-6 mx-auto">
        <button class="btn btn-primary btn-lg" @onclick="AddCategory">Add New Category</button>
        <button class="btn btn-primary btn-lg" @onclick="AddEquipment">Add New Equipment</button>
        <button class="btn btn-primary btn-lg" @onclick="AddUser">Add New User</button>
        <button class="btn btn-primary btn-lg" @onclick="MakeReport">Make Report</button>
    </div>
</div>

@code {
    private void AddCategory()
    {
        navigationManager.NavigateTo("addCategory");
    }
    private void AddEquipment()
    {
        navigationManager.NavigateTo("addEquipment");
    }
    private void AddUser()
    {
        navigationManager.NavigateTo("addUser");
    }
    private void MakeReport()
    {
        navigationManager.NavigateTo("makeReport");
    }
}
