@page "/adminHome"

@inject NavigationManager navigationManager
<h1 style="text-align:center; margin: 2rem">Home</h1>

<div style="display:flex; flex-direction: column; gap: 2rem; justify-content: space-around; margin: 4rem;">
    <button type="button" class="btn btn-primary" @onclick="AddCategory">View Categories</button>
    <button type="button" class="btn btn-primary" @onclick="AddEquipment">View Equipment</button>
    <button type="button" class="btn btn-primary" @onclick="AddUser">View Customers</button>
    <button type="button" class="btn btn-primary" @onclick="MakeReport">Make Report</button>
</div>




@code {
    private void AddCategory()
    {
        navigationManager.NavigateTo("categoryList");
    }
    private void AddEquipment()
    {
        navigationManager.NavigateTo("/equipmentList");
    }
    private void AddUser()
    {
        navigationManager.NavigateTo("userList");
    }
    private void MakeReport()
    {
        navigationManager.NavigateTo("makeReport");
    }
}
