@page "/rentalReportByMonth"

@using VillageRental.Data
@using VillageRental.Services
@inject NavigationManager navigationMangager

<h3>Rental Report By Month</h3>


<div style="text-align: center">
	<div> <strong>Total</strong>: @rentalList.Count()</div>
	<div style="color: red; font-weight: bold"> Revenue: $@total</div>
</div>


@if (rentalList == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<br>
	<br />
	<table class="table table-striped">
		<thead>
			<tr style="text-align: center">
				<th>Month</th>
				<th>Transaction</th>
				<th>Revenue</th>				
			</tr>
		</thead>
		<tbody>
			@foreach (var rental in rentalList)
			{
				<tr style="text-align: center">
					
					<td>@rental.Month</td>
					<td>@rental.RentalCount</td>
					<td>$@rental.TotalCost</td>
				</tr>
			}
		</tbody>
	</table>
}

<NavLink class="nav-link" href="/makeReport">
	<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Back to Report
</NavLink>


@code {
	public List<RentalReportByMonthObject> rentalList = new();
	DatabaseService databaseService = new();
	decimal total = 0;

	//Error was here
	protected override async Task OnInitializedAsync()
	{
		rentalList = await databaseService.GetRentalReportByMonth();
		foreach (RentalReportByMonthObject rental in rentalList)
		{
			total += rental.TotalCost;
		}
	}


}

