@page "/rentalList"

@using VillageRental.Data
@using VillageRental.Services
@inject NavigationManager navigationMangager

<br />
<h3>Renntal List</h3>
<br />
<br />

<div> <strong>Total</strong>: </div>

