@page "/success"


@using VillageRental.Data

<h2>Success!</h2>

<div style="text-align: center">
    <strong>Your order have been proceed! Thank you for choosing our service! <br /></strong>
    Please check your email @Setting.UserInfo.Email for order detail!
</div>


@code {

}
